.formButton {
  font-size: 20px;
  line-height: 22px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #ffffff;
  background: #007aff;
  border-radius: 8px;
  border: none;
  outline: none;
}

.grey {
  background: rgb(179, 179, 179);
}
